* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-container {
    display: flex;
}

.splash-image-container {
    color: white;
    height: 100vh;
    flex: 1;
    background-image: url(splash.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.signup-container {
    background-image: linear-gradient(180deg, #171438, #2b2852);
    color: white;
    height: 100vh;
    flex: 2;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.signup-container > div {
    flex: 1;
    /* border: 5px solid red; */
    padding-left: 4vw;
    padding-right: 4vw;
}

.signup-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
}

.signup-text > div > p {
    font-weight: 600;
}

.signup-form {
    /* border-bottom: 2px solid #236879;
    border-top: 2px solid #236879; */
    background-color: white;
    color: #171438;
    padding-top: 10px;
    box-shadow: 0px 0px 5px;
    /* color: white; */
    display: flex;
    flex-direction: column;
    /* border-radius: 5px; */
}

.signup-form > div > h1 {
    padding: 10px 0 10px 0;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    font-size: 3vw;
    font-family: 'Gruppo', cursive;
    font-family: 'Press Start 2P', cursive;
}

.logo-text {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    padding: 30px;
}

.credit-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 2;
    font-size: 1rem;
}

.credit-container > p {
    padding-bottom: 10px;
}

.credit-text > a {
    color: white;
}



.form > form {
    display: flex;
    flex-direction: column;
    /* border: 5px solid blue; */
}

.form-input > label {
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #222d28;
    font-weight: 500;
}

.form-row {
    /* border: 2px solid green; */
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

.form-input {
    /* border: 2px solid red; */
    flex: 1;
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=email], input[type=tel], input[type=password] {
    text-decoration: none;
    /* border: 1px solid grey; */
    border: none;
    background: none;
    border-bottom: 1px solid grey;
    height: 1.5rem;
    /* border-radius: 4px; */
    width: 90%;
    padding: 0.5rem;
}

input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus {
    border: none;
    border-bottom: 1px solid black;
}

input[type=text]:invalid, input[type=email]:invalid, input[type=tel]:invalid, input[type=password]:invalid {
    border: none;
    border-bottom: 1px solid red;
}

.signup-bottom {
    display: flex;
    flex-direction: column;
}

.signup-bottom > div {
    flex: 1;
    padding-top: 2rem;
}

.signup-bottom-row > button {
    margin-bottom: 1.25rem;
    border: 1px solid white;
    background-color: #171438;
    color: white;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-size: 1.05rem;
    cursor: pointer;
}

.signup-bottom-row > button:hover {
    background-color: white;
    color: #171438;
    border: 1px solid #171438;
}

.signup-bottom-row > p > a {
    text-decoration: none;
    color: #c1bbf5;
    font-weight: 700;
}

.signup-bottom-row > p > a:hover {
    text-decoration: underline;
}